@font-face {
    font-family: 'Shop and Show Sans Pro SemBd';
    src: url('../fonts/ShopandShowSansPro-Semibold.woff2') format('woff2'),
        url('../fonts/ShopandShowSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Shop And Show Sans Pro';
    src: url('../fonts/ShopAndShowSansPro-Light.woff2') format('woff2'),
        url('../fonts/ShopAndShowSansPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Shop And Show Sans Pro';
    src: url('../fonts/ShopAndShowSansPro-Bold.woff2') format('woff2'),
        url('../fonts/ShopAndShowSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Shop And Show Sans Pro';
    src: url('../fonts/ShopAndShowSansPro-Regular.woff2') format('woff2'),
        url('../fonts/ShopAndShowSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
